* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  font-size: 73%;
}

body {
  background: #bababa;
}

main {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
}

.contenedor-izq {
  align-items: center;
  background: #ced4da;
  border-radius: 36px;
  border: 1px solid #ced4da;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  position: relative;
  width: 100%;
}

.input-text {
  background: rgba(255, 255, 255, 0.5);
  border-style: none;
  caret-color: #181818;
  color: #181818;
  font-size: 2rem;
  height: 60%;
  margin: 0 auto;
  outline: none;
  padding: 30px;
  resize: none;
  width: 85%;
}

.contenedor-izq p {
  color: #181818;
  font-size: 1.5rem;
}

.container-btns {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 2rem;
  width: 100%;
}

.b-encriptar {
  background: #0a3879;
  border-radius: 15px;
  border: 1px solid #0a3879;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.2rem;
  height: 4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 50rem;
}

.b-encriptar:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.03);
  transition: 400ms transform ease-in-out;
}

.b-encriptar:active {
  background: #0a3879;
}

.b-desencriptar {
  background: #356ea9;
  border-radius: 15px;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.2rem;
  height: 4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 50rem;
}

.b-desencriptar:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.03);
  transition: 400ms transform ease-in-out;
}

.b-desencriptar:active {
  background: #356ea9;
}

.b-copiar {
  background: #052051;
  border-radius: 15px;
  border: 1px solid #052051;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 4rem;
  letter-spacing: 0.3rem;
  padding: 1rem;
  width: 50rem;
}

.b-copiar:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.03);
  transition: 400ms transform ease-in-out;
}

.b-copiar:active {
  background: #757fb2;
}

.contenedor-der {
  align-items: center;
  background-color: #aab2d5;
  border-radius: 36px;
  border: 1px solid #aab2d5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  height: 20rem;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.contenedor-texto {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.output-texto {
  background: none;
  border-style: none;
  color: #181818;
  display: none;
  font-size: 1.8rem;
  outline: none;
  resize: none;
  text-align: center;
  width: 80%;
}

.texto1-contder {
  color: #181818;
  font-family: "PT Sans", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-align: center;
}

.texto2-contder {
  color: #181818;
  font-size: 1.4rem;
  text-align: center;
}

.img-logo {
  opacity: 70%;
  padding-top: 10px;
  width: 30%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

footer span {
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
}

footer span:nth-child(1) {
  color: #181818;
}

footer span:nth-child(3) {
  color: #181818;
}

footer span:nth-child(4) {
  color: #181818;
  margin: 0 0.4rem 0 0.4rem;
}
